<div class="container">
  <mat-card appearance="outlined">
    <p>
      <img class="logo" src="assets/images/verisure-logo.png" alt="Verisure Logo" />
    </p>
    <h1>
      <mat-card-title i18n="Settings title|Settings page title for Settings route@@SettingsTitle"
        >Verisure Angular Quickstart</mat-card-title
      >
    </h1>
    <mat-card-content>
      <p>
        <strong
          i18n="
            Settings administration section message|Settings administration section for Settings
            route@@SettingsAdminSectionMessage"
          >Administration Section</strong
        >
      </p>
      <p i18n="Settings body message|Settings body message for Settings route@@SettingsBodyMessage">
        This is a protected route, only accessible if you are correctly logged in as a Verisure Azure AD user.
      </p>
      <p i18n="Settings admin only message|Settings admin only message for Settings route@@SettingsAdminOnlyMessage">
        This section is for administrator users only. If you see this area, it means that you have an administrator role
        for this application in Azure AD.
      </p>
    </mat-card-content>
  </mat-card>
</div>
