<div class="container">
  <mat-card appearance="outlined">
    <p>
      <img class="logo" src="assets/images/verisure-logo.png" alt="Verisure Logo" />
    </p>
    <h1>
      <mat-card-title i18n="Home title|Home page title for API health route@@HomeTitle"
        >Verisure Angular Quickstart</mat-card-title
      >
    </h1>
    <mat-card-content>
      <p>
        <strong i18n="Home first body message|Home first body message for Home route@@HomeFirstBodyMessage"
          >Welcome to the Verisure Angular Quickstart v{{ version }} with MSAL v2 Authentication!!</strong
        >
      </p>
      <p i18n="Home second body message|Home second body message for Home route@@HomeSecondBodyMessage">
        The objective of this quickstart is to provide a scalable base template based on Angular framework.
      </p>
      <p i18n="Home third body message|Home third body message for Home route@@HomeThirdBodyMessage">
        This sample demonstrates how to configure MSAL to login, logout, protect routes ("/api-health" and "/profile"),
        and acquire an access token for a protected resources such as the Microsoft Graph API and API Backend.
      </p>
      <p i18n="Home fourth body message|Home fourth body message for Home route@@HomeFourthBodyMessage">
        Please review the project's README.md file for details regarding the libraries and tools used in this Angular
        quickstart. You can also find guides related to best practices and troubleshooting in Angular development.
      </p>
      <p i18n="Home fifth body message|Home fifth body message for Home route@@HomeFifthBodyMessage">
        This quickstart is experimental. If you have any comments or suggestions, please contact the Solution
        Architecture Team. Thank you.
      </p>
    </mat-card-content>
  </mat-card>
</div>
