(function (window) {
  window['env'] = window['env'] || {};
  // Environment variables
  window['env']['MSAL_APPLICATION_ID'] = '${MSAL_APPLICATION_ID}';
  window['env']['MSAL_REDIRECT_URI'] = '${MSAL_REDIRECT_URI}';
  window['env']['MSAL_AUTHORITY'] = '${MSAL_AUTHORITY}';
  window['env']['API_BACKEND_URL'] = '${API_BACKEND_URL}';
})(this);